@model List<Publication>

@{
    ViewBag.Title = "Main page - Post list";
}

@foreach (var a in Model)
{
    <div class="card my-3">
        <div class="card-header">
            <h5 class="card-title">@a.User.UserName</h5>
        </div>
        <img src="@a.Image" class="card-img-top" alt="Publication image">
        <div class="card-body">
            <div class="d-flex align-items-center mb-2">
                <form asp-action="ToggleLike" method="post">
                    <input type="hidden" name="publicationId" value="@a.Id" />
                    <button type="submit" class="btn btn-light me-2">
                        <a class="btn btn-success">Like</a> @a.LikeCount
                    </button>
                </form>
                <button class="btn btn-light">
                    <a class="btn btn-success">Comment</a> @a.CommentCount
                </button>
            </div>
            
            <p class="card-text">@a.Description</p>
            <small class="text-muted">Created: @a.CreatedAt.ToString("dd MMM yyyy")</small>
        </div>
    </div>
}